
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageSatis.cshtml";
}

@using SLNWEB.DAO.VM
@model CustomerDemographicVM


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div>

        @using (Html.BeginForm("Delete", "CustomerDemographics", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>

                CustomerDemoTypeID:@Html.EditorFor(a => a.CustomerTypeID)
                <br />
                CustomerDescription:@Html.EditorFor(a => a.CustomerDesc)
            </div>

            <input type="submit" name="name" value="Add Customer Demographic" />
        }

    </div>
</body>
</html>

