@{
    Layout = null;
}

@model SLNWEB.DAO.VM.CustomerVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        @Html.TextBoxFor(x => x.CustomerID)

    </div>
</body>
</html>
