
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@{
    List<int> Year = (List<int>)ViewBag.Year;

}

@model SLNWEB.DAO.VM.RaporVM

<div class="container-fluid px-4">
    <h2 class="mt-4">Raporlama</h2>

    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <h5>Customer</h5>
                </div>
                <div class="col-md-3">
                    @Html.DropDownListFor(a => a.Customer.CustomerID, Model.Customers, "Seçiniz", new { @id = "customerID" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <h5>Year</h5>
                </div>
                <div class="col-md-3">
                    @*@Html.DropDownListFor(a => a.Year, Model.Years, "Seçiniz", null)*@
                    @Html.DropDownList("Year", new SelectList(Year), new { @id = "year" })
                </div>
            </div>
            <br />
            <div class="row">
                <input type="button" class="btn btn-outline-secondary" value="Listele" onclick="Listele()" />
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Year</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Customer</th>
                        <th>Year</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @*@foreach (var item in collection)
                        {
                            <tr><td>Customer</td><td>Year</td><td>Total</td><td>Total Pric</td></tr>
                        }*@


                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.6.0.js"></script>
<script>
    function Listele() {

        let cus = $('select#customerID option:selected').val();
        let year = $('select#year option:selected').val();
        let datapost = new FormData();
        datapost.append('customerID', cus);
        datapost.append('year', year);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/Rapor/RaporGetir", true);
        xhr.send(datapost);
        xhr.onreadystatechange = function () {

            var tbody = document.getElementById("datatablesSimple").querySelector("tbody");
            debugger;
            tbody.innerHTML = "";
            if (this.readyState == 4 && this.status == 200) {
                JSON.parse(this.response).forEach(function (data, index) {

                tbody.innerHTML += "<tr><td>" + data.CustomerName + "</td><td>" + data.Count + "</td><td>" + data.Price + "</td><td> " + data.OrderDate + " </td></tr>"
            });
            }
        }
    }
</script>
